<header>
  <h1> Mr. Worldwide TV</h1>
  <h2>Dale!</h2>

  <nav>
    <ul>
      <li>Welcome</li>
    </ul>
  </nav>
</header>

<main>
  <%= form_tag do %>
  <%end%>

  <ul class="videos">
    <li>I'm a video</li>
  </ul>
</main>
